<a href="/">Home</a> <nbsp><nbsp><a href="/register">SignUp</a>


<h1>
    Login Page
</h1>
<form action="/login" method="POST">
    <label for="username">Email    </label>
    <input type="text" placeholder="Enter your email address" id="xyz" name="username"><br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br><br>
    <button>Login</button>
</form>

    
    